@import url('../../fonts/raleway/static/Raleway-Regular.ttf');

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 22px;
  color: #464646;
}

p {
  color: #464646;
}

a {
  text-decoration: none;
  color: #464646;
  cursor: pointer;
  transition: all 150ms;
}

a:hover {
  color: rgba(155, 145, 155, .6);
}

a:active {
  background-color: transparent;
  color: rgba(55, 25, 55, .6);
}

@media screen and (min-width: 360px) {
  
}

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1440px) {
  
}