.form-contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
}

.form-contact__minicontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.form-control__input {
  width: 90%;
}

.textarea {
  height: 100px;
}

.btn-submit {
  margin-top: 15px;
  width: 50%;
  
}